/* Form container styling */
.form-container, .form-driver {
  max-width: 500px;
  margin: 70px 20px;
  padding: 50px 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;

}

/* Form title styling */
.form-title {
  font-size: 24px;
  font-weight: bold;
  color: #2a9d8f;
  text-align: center;
  margin-bottom: 20px;
}

/* Form field styling */
.form-group {
  margin-bottom: 15px;
  padding-bottom: 30px;
}

/* Label styling */
.form-label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 10px;
  padding-bottom: px;
  width:50vh;
}

/* Input styling */
.form-input {
  
  width: 85vh;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-input:focus {
  border-color: #2a9d8f;
  box-shadow: 0 0 4px rgba(42, 157, 143, 0.5);
}

/* Error message styling */
.error-text {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* Button styling */
.form-button {
  width: 85vh;
  padding: 12px;
  margin:14px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #2a9d8f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #21867a;
}
